@import "./helpers/mixins";
@import "./sections/header";
@import "./sections/hero";

body,main,button,h1,h2,h3,h4,h5,h6,div,span,p,ul{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    transition: 0.3s;
}